
kurs.xcodeproj/project.pbxproj

kurs.xcodeproj/xcuserdata/BlackFox.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

kurs.xcodeproj/xcuserdata/BlackFox.xcuserdatad/xcschemes/kurs.xcscheme

kurs.xcodeproj/project.pbxproj
